// Light Font
@font-face {
  font-family: mg;
  src: url('../fonts/FavoritStd-Light.woff');
  font-weight: 100;
}
// Book Font
@font-face {
  font-family: mg;
  src: url('../fonts/FavoritStd-Book.woff');
  font-weight: 200;
}
// Regular Font
@font-face {
  font-family: mg;
  src: url('../fonts/FavoritStd-Regular.woff');
  font-weight: 300;
}
// Medium Font
@font-face {
  font-family: mg;
  src: url('../fonts/FavoritStd-Medium.woff');
  font-weight: 500;
}
// Bold Font
@font-face {
  font-family: mg;
  src: url('../fonts/FavoritStd-Bold.woff');
  font-weight: 700;
}
