html{
  scroll-behavior: smooth;
}
body{
  font-family: $main-font;
}
.wrapper{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
a{
  color: inherit;
  text-decoration: none;
  transition: .3s all ease-in-out;
}
img{
  display: block;
  width: 100%;
}
h1,h2,h3,h4,h5,h6,p,a{
  margin: 0;
}
.light-text{
  font-weight: 100;
}
.animOpacity{
  animation: 3s opacityText normal;
}
@keyframes opacityText {
  0% {opacity: 0;}
  100% {opacity: 1;}
}