.header{
  width: 100%;
  height: 100vh;
  background: url('../img/header.png') center/cover;
  position: relative;
  color: $white;
  border: 5px solid $white;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 85%, rgba(0,0,0,0.6) 100%);
    z-index: 1;
  }
  .wrapper{
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0 100px 100px 100px;
    @include tablet{
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding-bottom: 25px;
    }
    @include mobile{
    padding: 0 25px 25px 25px;
    }
    .header__text{
      width: 50%;
      margin-right: auto;
      position: relative;
      z-index: 2;
      @include mobile{
        width: 100%;
      }
      h1{
        font-size: 3.438rem;
        font-weight: 700;
        span:last-child{
          display: block;
          font-size: 1.375rem;
          letter-spacing: 0.25rem;
          font-weight: 100;
        }
        @include mobile{
          width: 50%;
        }
        @include lowres{
          width: 80%;
        }
      }
      p{
        font-size: 1rem;
        font-weight: 200;
        margin: 30px 0;
        @include mobile{
          margin: 10px 0;
        }
      }
      a{
        display: block;
        font-size: 1rem;
        font-weight: 400;
        position: relative;
        padding-left: 30px;
        width: fit-content;
        &::before{
          content: '';
          background: url('../img/rectangle.svg');
          position: absolute;
          top: 50%;
          left: 0;
          width: 15px;
          height: 2px;
          transform: translateY(-50%);
          animation: headerAnim 3s infinite;          
        }
      }
    }
    .header__cta{
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.75rem;
      @include tablet{
        align-items: flex-start;
        margin-top: 30px;
        flex-direction: row;
      }
      a{
        display: block;
      }
    }
    .header__warantly{
      position: absolute;
      top: 100px;
      right: 35px;
    }
    .header__arrow{
      position: absolute;
      bottom: 25px;
      right: 50%;
      transform: translateX(-50%);
      z-index: 2;
      animation: myArrow 2s infinite;
      @include tablet{
        right: 50px;
        transform: none;
      }
    }
  }
}
@keyframes myArrow{
  0%   {bottom: 28px;}
  25%  {bottom: 25px;}
  50% {bottom: 22px;}
  75%  {bottom: 25px;}
  100%   {bottom: 28px;}
}
@keyframes headerAnim {
  0% {left: 0;}
  25% {left: 4px;}
  50% {left: 8px;}
  75% {left: 4px;}
  100% {left: 0;}
}