.menu__content{
  width: 100%;
  height: 100vh;
  background-color: $text;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  padding-top: 150px;
  color: $white;
  &__links{
    display: flex;
    flex-direction: column;
    width: 500px;
  }
}